
.back         {height: 50px;
            background-color: #4286f4;}


.wellcome {  position: relative;
	          width: 300px;
              left: 270px;
              top: 10px;
               margin-top: 10px;}


 .img { left: 100px;
 	     top: 10px;
       right: 0px;
       width: 390px;
       height:360px;
       position: relative;}

 .data { position: absolute;
          top: 70px;
           left: 700px;
         width: 500px;
           height: 600px;}

.form {   width: 320px;
          height: 650px;
            margin: 15px;
            padding: 15px;}

.input {margin-top: : 10px;
         margin-bottom: 10px;}

.button{ margin-top: 32px; }

 .stroke {margin: 15px;}

